div.label {
  font-weight: bold;
}

div.licenseLabel {
  margin-top: 10px;
}

div.ibp_part {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

table.checklistListing {
  width: 100%;
  clear: both;
}

table.checklistListing tr.odd {
  background-color: #eee;
}

table.checklistListing tr.even {
  background-color: #fff;
}

table.checklistListing tr td {
  padding: 4px;
}

table.checklistListing tr td.title {
  font-weight: bold;
  width: 50%;
}

table.checklistListing tr td.taxa {
  width: 20%;
}

table.checklistListing tr td.license {
  width: 30%;
}

#listingTable_filter {
  float: right;
}

#listingTable_info {
  clear: both;
  float: none;
  height: 30px;
}

#listingTable_paginate {
  float: right;
  margin-top: -35px;
  margin-left: 220px;
}

table.checklistListing .sorting_asc {
  background-color: #eee;
}

table.checklistListing .sorting_desc {
  background-color: #eee;
}

table.speciesTable td.key {
  font-weight: bold;
  text-align: right;
  width: 200px;
}

table.speciesTable td {
  padding: 10px;
  width: 400px;
  border-bottom: 1px solid #eee;
}

table.checklistMetadata  {
  width: 100%;
}

table.checklistMetadata td {
  padding: 5px;
  border-bottom: 1px dotted #444;
}

table.checklistMetadata td.key {
  font-weight: bold;
  width: 30%;
  border-right: 1px dotted #444;
}

.toggle {
  background-color: #eee;
  padding: 0 10px;
}

a.toggle:link, a.toggle:visited, a.toggle:hover, a.toggle:active {
  text-decoration: none;
}

#ibp_taxa {
  width: 40%;
  margin: 10px;
  float: left;
  border: 0;
}

#ibp_geography {
  width: 40%;
  margin: 10px;
  float: left;
  border: 0;
}

.disclaimer {
  font-size: 8pt;
}

.flickr_more{
 text-align: right;
}
